@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Zeng Xiong</h2>
<strong>Phone: </strong>(828)461-0248<br />
<strong>Email: </strong><a href="mailto:zxiong1008@gmail.com">zxiong1008@gmail.com</a> <br />

Where I attending coding school:
<h2>Coder Foundry</h2>
<div class="row">
    <div class="col-sm-6">
        <address>
            1231 Shields Rd #5<br />
            Kernersville, NC 27284<br />
            <abbr title="Phone">P:</abbr>
            (336)231-8632
        </address>
    </div>
    <div class="col-sm-6">
        <address>
            8430 University Executive Park Drive #650<br/>
            Charlotte, NC 28262<br />
            <abbr title="Phone">P:</abbr>
            (336)231-8632
        </address>
    </div>
</div>


